module.exports = {
	'token': '',
	'prefix': '$',
	'userid': {
		'bot_owner': '',
	},
	'roles': {
		'maire': '',
		'adjoint': '',
	},
	'db': {
		'dialect': 'sqlite',
		'host': '',
		'name': '',
		'username': '',
		'password': '',
	},
};